.font-raleway{
    font-family: "Raleway", sans-serif;
}

.font-inter{
    font-family: "Inter", sans-serif;
}
.pry-color{
    color: #1DD100;
}

.sd{
    box-shadow: 0px 4px #1DD100;
    border: none;
}