
.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.pry-color {
  color: #1dd100;
}

.sd {
  box-shadow: 0px 4px #1dd100;
  border: none;
}
#ph-paribahan {
  box-shadow: 0px -4px #1dd100;
}

  
.bg-green {
  background-color: #1dd100;
}
